.theme-light {
    --h1-color:rgb(7, 7, 7);
    --h2-color:rgb(0, 0, 0);
    --h3-color:rgb(0, 0, 0);
    --h4-color:var(--text-normal);
    --h5-color:var(--text-normal);
    --h6-color:var(--text-muted);
  }
  h1, .empty-state-title, .markdown-preview-view h1, .markdown-source-view.mod-cm6 .HyperMD-header-1 > .cm-fold-indicator, .cm-s-obsidian .cm-header-1 {
    font-variant: var(--h1-variant);
    letter-spacing: -0.02em;
    line-height: 1,3;
    font-size: var(--h1);
    color: var(--h1-color);
    font-weight: 900;
}

.cm-s-obsidian .HyperMD-codeblock, .markdown-preview-view pre, .markdown-source-view.mod-cm6 .cm-preview-code-block pre.dataview-error, .mod-cm6 .cm-editor .HyperMD-codeblock.cm-line {
  color: var(--text-code);
  font-size: 15px;
}

/*行内代码颜色*/
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight), .cm-formatting.cm-formatting-code.cm-inline-code {
  color: #09447c;
  background-color: #ffffff62;
}

/*修改代码块内的comment颜色*/
.token.comment, .cm-s-obsidian span.cm-comment:not([class*="hashtag"]){
      color: #0a0a0bde !important;
}
/*代码块内""内颜色*/
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .markdown-source-view.cm-s-obsidian .cm-string:not([class*="url"]) {
    color: #111111 !important;
}
/*代码块内java注解的颜色，有可能影响其他元素颜色*/
.theme-light .token.comment, .theme-light .token.prolog, .theme-light .token.doctype, .theme-light .token.cdata, .theme-light .cm-comment, .theme-light .cm-meta, .theme-light .cm-qualifier {
    color: #9b6307;
}
/*代码块html元素颜色，有可能影响其他元素颜色*/
.theme-light .token.property, .theme-light .token.tag, .theme-light .token.boolean, .theme-light .token.number, .theme-light .token.constant, .theme-light .token.symbol, .theme-light .token.deleted, .theme-light .cm-number, .theme-light .cm-tag {
    color: #0846b0 ;
}
/*代码块html中元素属性颜色，有可能影响其他元素颜色*/
.theme-light .token.selector, .theme-light .token.attr-name, .theme-light .token.string, .theme-light .token.char, .theme-light .token.builtin, .theme-light .token.inserted, .theme-light .cm-attribute {
    color: #0759e7d2;
}

.markdown-source-view .markdown-embed {
  background: white;
  border-color: transparent;
  border-radius: var(--radius-xs);
}

/* 行内链接颜色 */
.cm-s-obsidian span.cm-link, .cm-s-obsidian span.cm-hmd-internal-link {
  color: #bf1823 !important;
}

.theme-light .cm-s-obsidian span.cm-keyword {
    color: #075ae7 !important;
}

.theme-light .cm-type, .theme-light .cm-def {
    color: #0e0e0e;
}

.theme-light .token.function, .theme-light .markdown-source-view.cm-s-obsidian .cm-variable {
    color: #076251 !important;
}

.token.number, .markdown-source-view.cm-s-obsidian .cm-number {
    color: #097bb0 !important;
}

